:root {
    --airbnb-pink: #FF385C;
    --airbnb-dark: #222222;
    --airbnb-gray: #717171;
}

*{
    margin:0;
    padding:0;
}

body {
    font-family: Arial, sans-serif !important;
    color: var(--airbnb-dark);
}

.nav-item a {
    color: white;
}

.navbar-brand img {
    margin-left: 70px;
    display: flex;
    width: 100px;
}

.navbar-text{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-right: 80px;
   
}

.navbar-text p{
     margin: 0px;
}

.navbar-text button{
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 40px;
    gap: 10px;
    color: grey;
}

.search button{
    border: none;
    border-radius: 50px;
    background-color: red;
    margin-right: 20px;
    width: 50px;
    height: 50px;
}


.destination-img {
  width: 64px;
  height: 64px;
  object-fit: cover;
}

.destination-card {
  cursor: pointer;
  border-radius: 12px;
  padding: 8px;
}


/* questo è il css del footer quindi lasciamolo sempre alla fine */
.footer-airbnb a {
    color: #717171;
    text-decoration: none;
}

.footer-airbnb a:hover, 
.footer-airbnb .hover-underline:hover {
    color: #222222;
    text-decoration: underline !important;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-pointer:hover {
    text-decoration: underline;
}